* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    background-color: #DB6E00;
    transition: background-color .5s;
}

/* Responsible */


/* DESKTOP VERSION */

@media  screen and (min-width: 1024px) {
    
    /* HEADER */
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E87400;
        box-shadow: 0px 0px 6px black;
        z-index: 9999;
        /* #E1450C */
        /* #FF7F00 */
    }


    .header-main {
        display: flex;
        padding: 0 10px;
        max-width: 1280px;
        width: 100%;
    }


    /* SVG */
    .logoSVG {
        display: flex;
        align-items: center;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logoSVG svg {
        fill: #fff;
        height: 40px;
    }

    /* NAVIGATION */
    
    .navigation {
        display: flex;
    }

    .tabSideNav {
        display: none;
    }

    .mobileSideNav {
        display: none;
    }
    
    .navbar {
        display: none;
    }

    .navigationMob {
        display: none;
    }

    .mobile {
        display: none;
    }

    .mobileS {
        display: none;
    }

    nav {
        display: flex;
        height: 100%;
    }

    nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100px;
        margin: 0 20px;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
    }

    nav a:hover {
        border-top: 4px solid #5C2E00;
        color: #5C2E00;
        transition: all 0.5s ease;
    }

    .activeNav {
        border-top: 4px solid #5C2E00;
        background-color: #E87400;
        color: #5C2E00;
    }

    .signUpDiv {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }


    .signUpButton svg {
        fill: #fff;
        height: 30px;
    }

    .signUpButton svg:hover {
        fill: #5C2E00;
        transition: all 0.5s ease;
    }

    .tabNav {
        display: none;
    }

    .mobNav {
        display: none;
    }

    /* MAIN */

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(./assets/img/backImg.jpg); 
        background-size: cover;
        background-position: center; 
        flex-grow: 1;
    }

    .imgSection {
        width: 100%;
        flex-grow: 1;
        max-height: 111.25px;
    }

    .functSection {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #DB6E00; 
        flex-grow: 2;
        overflow: hidden;
    }
    
    .mainDiv {
        display: flex;
        flex-direction: column;
        min-height: 286px;
        max-width: 1280px;
        color: #fff;
    }
    

    /* Description */

    .description {
        text-align: center;
        margin-bottom: 30px;
        padding: 50px 20px 0;
    }

    .description h1 {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .description h2 {
        font-size: 17px;
        font-weight: 600;
    }


    /* Buttons */

    .buttons {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        font-size: 12px;
        font-weight: 700;
    }

    .buttons a {
        height: 100%;
        text-decoration: none;
        color: #fff;
    }

    .buttonForm1,  .buttonForm2 {
        height: 30px;
        min-width: 150px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        overflow-x: hidden;
    }

    .buttonForm1 {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .button {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .buttonForm2 {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .button:hover {
        background-color: #fff;
        color: #DB6E00;
        transition: all 0.5s ease;
    }

    .activeButton {
        background-color: #fff;
        color: #DB6E00;
    }

    
    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        background-color: #5C2E00;
        color: #fff;
        z-index: 999999;
    }
}

@media  screen and (min-width: 426px) and (max-width: 1023px) {

    /* HEADER */
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E87400;
        box-shadow: 0px 0px 6px black;
        z-index: 9999;
    }


    .header-main {
        display: flex;
        margin: 0 10px;
        width: 100%;
    }

    /* SVG */

    
    .logoSVG {
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .signInSVG {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

    
    .logoSVG svg {
        fill: #fff;
        height: 40px;
        /* height: 50px; */
    }

    .mobileS {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40%;
    }
    .mobileS2 {
        fill: #fff;
        height: 25px;
    }

    .mobileS3 {
        fill: #fff;
        height: 25px;
    }

    .mobileS1 {
        fill: #fff;
        height: 50px;
    }

    .mobileS2:hover {
        fill: #5C2E00;
        transition: all 0.5s ease;
    }


    /* Navigation */

    .desktop {
        display: none;
    }

    .mobileSideNav {
        display: none;
    }


    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 60px;
        right: 0;
        background-color: rgba(17, 17, 17, 0.432);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #818181;
    }
    
    .sidenav .lBtn {
        display: flex;
        justify-content: start;
        padding-bottom: 20px;
    } 

    .sidenav svg {
        height: 30px;
        fill: #fff;
    }

    .sidenav svg:hover {
        fill: #818181;
    }


    .mobileS {
        display: none;
    }
    
    .navigation {
        display: none;
    }

    .mobNav {
        display: none;
    }

    .tabNav {
        display: flex;
        height: 100%;
        justify-content: center;
    }
    
    .tabNav svg {
        width: 30px;
        fill: #613308;
    }
    

    .navClose {
        display: none;
    }

    /* MAIN */
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(./assets/img/backImg.jpg); 
        background-size: cover;
        background-position: center; 
        flex-grow: 1;
    }

    .imgSection {
        width: 100%;
        flex-grow: 1;
        max-height: 111.25px;
    }

    .functSection {
        display: flex;
        justify-content: center;
        width: 100%;
        width: 100%;
        background-color: #DB6E00; 
        flex-grow: 2;
    }
    
    .mainDiv {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        color: #fff;
    }
    

    /* Description */

    .description {
        text-align: center;
        margin-bottom: 30px;
        padding: 50px 20px 0;
    }

    .description h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .description h2 {
        font-size: 17px;
        font-weight: 600;
    }


    /* Buttons */

    .buttons {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        font-size: 12px;
        font-weight: 700;
    }

    .buttons a {
        height: 100%;
        text-decoration: none;
        color: #fff;
    }

    .buttonForm1,  .buttonForm2 {
        height: 30px;
        min-width: 150px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        overflow-x: hidden;
    }

    .buttonForm1 {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .button {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .buttonForm2 {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .button:hover {
        background-color: #fff;
        color: #DB6E00;
        transition: all 0.5s ease;
    }

    .activeButton {
        background-color: #fff;
        color: #DB6E00;
    }

    
    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        background-color: #5C2E00;
        color: #fff;
        z-index: 9999999;
    }
}

@media  screen and (max-width: 425px) {
     /* HEADER */
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E87400;
        box-shadow: 0px 0px 6px black;
        z-index: 9999;
    }


    .header-main {
        display: flex;
        margin: 0 10px;
        width: 100%;
    }

    /* SVG */
    .logoSVG {
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .signInSVG {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

    
    .logoSVG svg {
        fill: #fff;
        width: 30%;
        /* height: 50px; */
    }
    .mobileS {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40%;
    }
    .mobileS2 {
        fill: #fff;
        height: 25px;
    }

    .mobileS3 {
        fill: #fff;
        height: 25px;
    }

    .mobileS1 {
        fill: #fff;
        height: 50px;
    }

    .mobileS2:hover {
        fill: #5C2E00;
        transition: all 0.5s ease;
    }


    /* Navigation */
    .desktop {
        display: none;
    }
    .tabSideNav {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 50px;
        right: 0;
        background-color: #DB6E00;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }   

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        transition: 0.3s;

    }
    .sidenav a:hover{
        color: rgb(92, 46, 0);
    }

    .sidenav .lBtn {
        display: flex;
        justify-content: start;
        padding-bottom: 30%;
    } 

    .sidenav svg {
        height: 30px;
        fill: #fff;
    }

    .sidenav svg:hover {
        fill: rgb(92, 46, 0);
    }

    .navigation {
        display: none;
    }

    .tabNav {
        display: none;
    }

    .mobNav {
        display: flex;
        height: 100%;
        justify-content: center;
    }
    
    .mobNav svg {
        width: 30px;
        fill: #613308;
    }

    .navClose {
        display: none;
    }
    
    /* MAIN */
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(./assets/img/backImg.jpg); 
        background-size: cover;
        background-position: center; 
        flex-grow: 1;
    }

    .imgSection {
        width: 100%;
        flex-grow: 1;
        max-height: 111.25px;
    }

    .functSection {
        display: flex;
        justify-content: center;
        width: 100%;
        width: 100%;
        background-color: #DB6E00; 
        flex-grow: 2;
    }
    
    .mainDiv {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        color: #fff;
    }
    

    /* Description */

    .description {
        text-align: center;
        margin-bottom: 30px;
        padding: 50px 20px 0;
    }

    .description h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .description h2 {
        font-size: 17px;
        font-weight: 600;
    }


    /* Buttons */

    .buttons {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        font-size: 12px;
        font-weight: 700;
    }

    .buttons a {
        height: 100%;
        text-decoration: none;
        color: #fff;
    }

    .buttonForm1,  .buttonForm2 {
        height: 30px;
        min-width: 100px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        overflow-x: hidden;
    }

    .buttonForm1 {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .button {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .buttonForm2 {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .button:hover {
        background-color: #fff;
        color: #DB6E00;
        transition: all 0.5s ease;
    }

    .activeButton {
        background-color: #fff;
        color: #DB6E00;
    }

    
    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        background-color: #5C2E00;
        color: #fff;
        z-index: 999999;
    }

    footer div {
        text-align: center;
    }
}