header {
    position: fixed;
}


main {
    margin-top: 5%;
    /* margin-bottom: 5%; */
    display: flex;
    align-items: center;
    background-image: none;
}


.postHeader {
    margin: 10px;
}


.mainDiv {
    /* background-color: #E07000; */
    padding: 20px;
    width: 80%;
    flex-grow: 1;
}

.post {
    margin-top: 10px;
    background-color: #C76300;
    box-shadow: 0px 0px 6px -1px #000000;
    border-radius: 5px;
    padding: 20px;
}

.post .postImage {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 180px;
    border: black solid 1px;
}

.post1 .postImage {
    background-image: url(../img/profileImg/received_331025241207088.jpeg);
    background-size: cover;
}


/* footer {
    position: fixed;
    bottom: 0;
} */