@media  screen and (min-width: 1024px) { 


    .formDiv {
        display: flex;
    }

    .searchTicket input, .searchTicket select {
        width: 205px;
        height: 60px;
        background-color: $fff;

    }

    .directions {
        display: flex;
    }

    .flightDate {
        display: flex;
    }

    .from{
        position: relative;
    }
    .directionChange {
        position: absolute;
        top: 20px;
        left: 193px;
        display: flex;
        flex-direction: column;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        z-index: 99999999999999999;
        background-color: white;

    }

    .directionChange svg {
        fill: #DB6E00;
    }

    .svg1 {
        transform: rotate(180deg);
    }



    .from, .to, .depart, .return, .passengers {
        margin-right: 2px;
    }
}

