/* General */

.pupupSection {
    display: none;
}

.pupup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999999999999999999;
}

.logInPage {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    /* height: 400px; */
    background-color: #F07E13;
    border-radius: 20px;
    padding: 0 20px;
    z-index: 9999999999999999999999;
}


.pupupBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999999999999999999999;
}


/* Header */

.pupupHeader {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logInLogo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logInLogo svg {
    height: 100px;
    fill: #fff;
}

.logInLogo svg:hover {
    fill: #5C2E00;
}

/* Main */

.logInForm {
    padding-right: 30px;
    padding-left: 30px;
    color: black;
}

.changeLink {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #5C2E00;
    font-size: 16px;
}

.signUpChangeLink{
    color: #fff;
    text-decoration: none;
}

.signUpChangeLink:hover {
    color: #5C2E00;
}

.logInChangeLink{
    color: #fff;
    text-decoration: none;
}

.logInChangeLink:hover {
    color: #5C2E00;
}

.activeChangeLink {
    color: #5C2E00;
    text-decoration: none;
}

.logInName {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logInName label {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #DB6E00;
    font-size: 14px;
    font-weight: 700;
}

.logInName input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    outline: none;
}

.logInPassword {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.logInPassword label {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #DB6E00;
    font-size: 14px;
    font-weight: 700;
}

.logInPassword input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
}

.logInGet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: #C76810;
    box-shadow: 0px 0px 6px black;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logInGet:hover {
    background-color: #613308;
}

.logInGetLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
} 

.logInGet svg {
    fill: #fff;
    height: 40px;
    margin-right: 10px;
}

/* Sign Up Form */

.signUpForm {
    display: none;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
}

.signUpName {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.signUpName label {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #DB6E00;
    font-size: 14px;
    font-weight: 700;
}

.signUpName input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    outline: none;
}

.signUpPassword {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
}

.signUpPassword label {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #DB6E00;
    font-size: 14px;
    font-weight: 700;
}

.signUpPassword input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
}

.signUpPasswordRe {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
}

.signUpPasswordRe label {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #DB6E00;
    font-size: 14px;
    font-weight: 700;
}

.signUpPasswordRe input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
}

.signUpEmail {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
}

.signUpEmail label {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #DB6E00;
    font-size: 14px;
    font-weight: 700;
}

.signUpEmail input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
}

.signUpGet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: #C76810;
    box-shadow: 0px 0px 6px black;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signUpGet:hover {
    background-color: #613308;
}

.signUpGetLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
} 

.signUpGet svg {
    fill: #fff;
    height: 40px;
    margin-right: 10px;
}