* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    background-color: #DB6E00;
}

/* Responsible */


/* DESKTOP VERSION */

@media  screen and (min-width: 1024px) {
    
    /* HEADER */
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E87400;
        box-shadow: 0px 0px 6px black;
        z-index: 9999;
        /* #E1450C */
        /* #FF7F00 */
    }


    .header-main {
        display: flex;
        padding: 0 10px;
        max-width: 1280px;
        width: 100%;
    }


    /* SVG */
    .logoSVG {
        display: flex;
        align-items: center;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logoSVG svg {
        fill: #fff;
        height: 40px;
    }

    /* NAVIGATION */
    .navigation {
        display: flex;
    }
    
    .navigationMob {
        display: none;
    }

    .mobile {
        display: none;
    }

    .mobileS {
        display: none;
    }

    nav {
        display: flex;
        height: 100%;
    }

    nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100px;
        margin: 0 20px;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
    }

    nav a:hover {
        border-top: 4px solid #5C2E00;
        color: #5C2E00;
    }

    .activeNav {
        border-top: 4px solid #5C2E00;
        background-color: #E87400;
        color: #5C2E00;
    }

    .signUpDiv {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }


    .signUpButton svg {
        fill: #fff;
        height: 30px;
    }

    .mobileNav {
        display: none;
    }

    /* MAIN */

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(../img/backImg.jpg); 
        background-size: cover;
        background-position: center; 
        flex-grow: 1;
    }

    .imgSection {
        width: 100%;
        flex-grow: 1;
    }

    .functSection {
        display: flex;
        justify-content: center;
        width: 100%;
        width: 100%;
        background-color: #DB6E00; 
        flex-grow: 2;
    }
    
    .mainDiv {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        color: #fff;
    }
    

    /* Description */

    .description {
        text-align: center;
        margin-bottom: 30px;
        padding: 50px 20px 0;
    }

    .description h1 {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .description h2 {
        font-size: 17px;
        font-weight: 600;
    }


    /* Buttons */

    .buttons {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        font-size: 12px;
        font-weight: 700;
    }

    .buttons a {
        height: 100%;
        text-decoration: none;
        color: #fff;
    }

    .buttonForm1,  .buttonForm2 {
        height: 30px;
        min-width: 150px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        overflow-x: hidden;
    }

    .buttonForm1 {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .button {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .buttonForm2 {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .button:hover {
        background-color: #fff;
        color: #DB6E00;
    }

    .activeButton {
        background-color: #fff;
        color: #DB6E00;
    }

    
    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        background-color: #5C2E00;
        color: #fff;
        z-index: 999999;
    }
}

@media  screen and (min-width: 426px) and (max-width: 1023px) {

    /* HEADER */
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E87400;
        box-shadow: 0px 0px 6px black;
        z-index: 9999;
    }


    .header-main {
        display: flex;
        margin: 0 10px;
        width: 100%;
    }

    /* SVG */

    
    .logoSVG {
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .signInSVG {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

    
    .logoSVG svg {
        fill: #fff;
        height: 40px;
        /* height: 50px; */
    }
    
    .signInSVG a {
        margin-left: 30px;
        margin-right: 30px;
    }

    .mobileS {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40%;
    }
    .mobileS2 {
        fill: #fff;
        height: 25px;
    }

    .mobileS3 {
        fill: #fff;
        height: 25px;
    }

    .mobileS1 {
        fill: #fff;
        height: 50px;
    }

    .mobileS2:hover {
        fill: #5C2E00;
    }


    /* Navigation */

    .desktop {
        display: none;
    }

    .mobileS {
        display: none;
    }
    
    .navigation {
        display: none;
    }

    .navigationMob {
        position: absolute;
        display: none;
        right: 0;
        height: 100%;
        width: 30%;
        background-color: rgba(143, 77, 16, 0.459);
    }

    nav {
        margin-top: 10%;
    }

    nav a {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }

    nav div {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #5C2E00;
    }

    .activeNav {
        color: #5C2E00;;
    }

    nav a:hover {
        color: #5C2E00;
    }

    .mobileNav {
        display: flex;
        height: 100%;
        justify-content: center;
    }
    
    .mobileNav svg {
        width: 30px;
        fill: #613308;
    }

    /* MAIN */
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(../img/backImg.jpg); 
        background-size: cover;
        background-position: center; 
        flex-grow: 1;
    }

    .imgSection {
        width: 100%;
        flex-grow: 1;
    }

    .functSection {
        display: flex;
        justify-content: center;
        width: 100%;
        width: 100%;
        background-color: #DB6E00; 
        flex-grow: 2;
    }
    
    .mainDiv {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        color: #fff;
    }
    

    /* Description */

    .description {
        text-align: center;
        margin-bottom: 30px;
        padding: 50px 20px 0;
    }

    .description h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .description h2 {
        font-size: 17px;
        font-weight: 600;
    }


    /* Buttons */

    .buttons {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        font-size: 12px;
        font-weight: 700;
    }

    .buttons a {
        height: 100%;
        text-decoration: none;
        color: #fff;
    }

    .buttonForm1,  .buttonForm2 {
        height: 30px;
        min-width: 150px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        overflow-x: hidden;
    }

    .buttonForm1 {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .button {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .buttonForm2 {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .button:hover {
        background-color: #fff;
        color: #DB6E00;
    }

    .activeButton {
        background-color: #fff;
        color: #DB6E00;
    }

    
    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        background-color: #5C2E00;
        color: #fff;
    }
}

@media  screen and (max-width: 425px) {
     /* HEADER */
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E87400;
        box-shadow: 0px 0px 6px black;
        z-index: 9999;
    }


    .header-main {
        display: flex;
        margin: 0 10px;
        width: 100%;
    }

    /* SVG */
    .logoSVG {
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .signInSVG {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

    
    .logoSVG svg {
        fill: #fff;
        width: 30%;
        /* height: 50px; */
    }
    .signInSVG a {
        margin-left: 30px;
        margin-right: 30px;
    }

    .mobileS {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40%;
    }
    .mobileS2 {
        fill: #fff;
        height: 25px;
    }

    .mobileS3 {
        fill: #fff;
        height: 25px;
    }

    .mobileS1 {
        fill: #fff;
        height: 50px;
    }

    .mobileS2:hover {
        fill: #5C2E00;
    }


    /* Navigation */

    .desktop {
        display: none;
    }

    .navigation {
        display: none;
    }
    .navigationMob {
        position: absolute;
        display: none;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #DB6E00;
    }

    nav {
        margin-top: 40px;
    }

    nav a {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }

    nav div {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #5C2E00;
    }

    .activeNav {
        color: #5C2E00;;
    }

    nav a:hover {
        color: #5C2E00;
    }

        .mobileNav {
        display: flex;
        height: 100%;
        justify-content: center;
    }
    
    .mobileNav svg {
        width: 30px;
        fill: #613308;
    }
    
    /* MAIN */
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(../img/backImg.jpg); 
        background-size: cover;
        background-position: center; 
        flex-grow: 1;
    }

    .imgSection {
        width: 100%;
        flex-grow: 1;
    }

    .functSection {
        display: flex;
        justify-content: center;
        width: 100%;
        width: 100%;
        background-color: #DB6E00; 
        flex-grow: 2;
    }
    
    .mainDiv {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        color: #fff;
    }
    

    /* Description */

    .description {
        text-align: center;
        margin-bottom: 30px;
        padding: 50px 20px 0;
    }

    .description h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .description h2 {
        font-size: 17px;
        font-weight: 600;
    }


    /* Buttons */

    .buttons {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        font-size: 12px;
        font-weight: 700;
    }

    .buttons a {
        height: 100%;
        text-decoration: none;
        color: #fff;
    }

    .buttonForm1,  .buttonForm2 {
        height: 30px;
        min-width: 100px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        overflow-x: hidden;
    }

    .buttonForm1 {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .button {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .buttonForm2 {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .button:hover {
        background-color: #fff;
        color: #DB6E00;
    }

    .activeButton {
        background-color: #fff;
        color: #DB6E00;
    }

    
    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        background-color: #5C2E00;
        color: #fff;
        z-index: 999999;
    }

    footer div {
        text-align: center;
    }
}